.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

.flex-item {
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 3px;
}

.flex-item img {
    display: block;
    margin: auto;
}

.edit{
    width: 80px;
    height: 30px;
    background-color: #4dad5b;
    margin: 5px;
}

.del{
    width: 80px;
    height: 30px;
    background-color: #E3350D;
    margin: 5px;
}

.button-div{
    height: 100px;
    text-align: center;
}

.button-div h2 {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: black;
}

.img-div{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}